<div class="header">
  <h3 class="text-muted">form comparator directive</h3>
</div>

<form name="personForm" class="" novalidate >

    <fieldset>

        <!-- FIRST NAME -->
        <div class="control-group">
            <label class="control-label">First Name:</label>
            <div class="controls controls-row">
                <input type="text" name="name_first"
                       ng-model="person.name_first"
                       placeholder="First Name"
                       required ng-minlength="2" ng-maxlength="50"
                        >
                <p ng-show="personForm.name_first.$error.required  && personForm.name_first.blurred && personForm.name_first.$dirty" class="help-inline">required</p>
                <p ng-show="personForm.name_first.$error.minlength && personForm.name_first.blurred && personForm.name_first.$dirty" class="help-inline">must have at least 2 characters.</p>
                <p ng-show="personForm.name_first.$error.maxlength && personForm.name_first.blurred && personForm.name_first.$dirty" class="help-inline">must not be longer than 50 characters.</p>
            </div>
        </div>

        <!-- Last NAME -->
        <div class="control-group">
            <label class="control-label">Last Name:</label>
            <div class="controls controls-row">
                <input type="text" name="name_last"
                       ng-model="person.name_last"
                       placeholder="Last Name"
                       ng-minlength="2" ng-maxlength="50"
                       okc-compare='[ { "=":"personForm.name_first"} ]'
                        >
                <p ng-show="personForm.name_last.$error.okcCompare  && personForm.name_last.$dirty" class="help-inline">last name comparator failed.</p>
                <p ng-show="personForm.name_last.$error.required  && personForm.name_last.blurred && personForm.name_last.$dirty" class="help-inline">required</p>
                <p ng-show="personForm.name_last.$error.minlength && personForm.name_last.blurred && personForm.name_last.$dirty" class="help-inline">must have at least 2 characters.</p>
                <p ng-show="personForm.name_last.$error.maxlength && personForm.name_last.blurred && personForm.name_last.$dirty" class="help-inline">must not be longer than 50 characters.</p>
            </div>
        </div>

        <!-- AGE -->
        <div class="control-group">
            <label class="control-label">Age:</label>
            <div class="controls controls-row">
                <input type="number" name="age"
                       ng-model="person.age"
                       placeholder="Enter Age"
                       min="0" max="140"
                       okc-compare='[ { "=":"form.personForm.name_first"}, { "==":"personForm.name_first"}, { "+":"personForm.name_first"} ]'
                        >
                <p ng-show="personForm.age.$error.required  && personForm.age.blurred && personForm.age.$dirty" class="help-inline">required</p>
                <p ng-show="personForm.age.$error.minlength && personForm.age.blurred && personForm.age.$dirty" class="help-inline">must be greater than or equal to 0.</p>
                <p ng-show="personForm.age.$error.maxlength && personForm.age.blurred && personForm.age.$dirty" class="help-inline">must less than or equal to 140.</p>
            </div>
        </div>

        <!-- AGE AT DEATH-->
        <div class="control-group">
            <label class="control-label">Age:</label>
            <div class="controls controls-row">
                <input type="number" name="age_older"
                       ng-model="person.age_older"
                       placeholder="Enter Age"
                       min="0" max="140"
                       okc-compare='[ { ">=":"personForm.age"} ]'
                        >
                <p ng-show="personForm.age.$error.required  && personForm.age.blurred && personForm.age.$dirty" class="help-inline">required</p>
                <p ng-show="personForm.age.$error.minlength && personForm.age.blurred && personForm.age.$dirty" class="help-inline">must be greater than or equal to 0.</p>
                <p ng-show="personForm.age.$error.maxlength && personForm.age.blurred && personForm.age.$dirty" class="help-inline">must less than or equal to 140.</p>
            </div>
        </div>
    </fieldset>
</form>

<div>
    personForm.name_last.$pristine : {{ personForm.name_last.$pristine }} <br/>
    personForm.name_last.$dirty : {{ personForm.name_last.$dirty }} <br/>
    personForm.name_last.$valid : {{ personForm.name_last.$valid }} <br/>
    personForm.name_last.$error.okcCompare : {{ personForm.name_last.$error.okcCompare }} <br/>
    personForm.age_death.$error.okcCompare : {{ personForm.age_death.$error.okcCompare }} <br/>
    personForm.age_death.$error.number : {{ personForm.age_death.$error.number }} <br/>
</div>

<!--div>
    personForm.$pristine : {{ personForm.$pristine }} <br/>
    personForm.$dirty : {{ personForm.$dirty }} <br/>
    personForm.$valid : {{ personForm.$valid }} <br/>
    personForm.$error : {{ personForm.$error | json }} <br/>
</div-->

<div class="footer">
  <p>Directive used to compare form element values with other element values</p>
</div>
